# Twilio
TWILIO_ACCOUNT_SID=AC316d648f8da66df9726cdcfa088eafffxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=efe9667d717c1e7ee396630fa40d38c5
TWILIO_PHONE_NUMBER=+19104057473

# Deepgram
DEEPGRAM_API_KEY=75de1b2367d8c23f0a7d1ffdf7ebab7ce8316138

# OpenAI
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.7

# ElevenLabs
ELEVENLABS_API_KEY=sk_95f2c2f7551d3b2009944bc89fd72394aedf30fc8bb6124c
ELEVENLABS_VOICE_ID=lvQdCgwZfBuOzxyV5pxu
ELEVENLABS_MODEL=eleven_multilingual_v2

# Server URL (your deployed URL, used for Twilio WebSocket connection)
SERVER_URL=https://gally-wintry-ai.ngrok-free.dev
